.topbar img {
  padding-top: 8px;
  padding-bottom: 8px;
  width: 122px;
}

.menulist1 a {
  font-family: 'Inter';
  font-style: Medium;
  line-height: 24px;
  font-size: 18px;
  vertical-align: top;
  color: white !important;
  text-decoration: none;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.wallet-btn{
  background:#FDAB45;
  border-radius:12px;
  font-family: Inter;
  font-style: Medium;
  font-size: 20px;
  line-height: 24px;
   /* marginRight:'60px; */
  color:#882100;
  font-weight:900;
  width: 160px;
}
@media screen and (max-width:737px){
  .topbar img{
    width: 80px;
  }
  .wallet-btn {
    font-size: 10px;
  }
}